/*Selector {
	property:;
}*/
body {
	margin: 0px;
}

h1{ 
	color: rgb(3, 163, 200);
	border-bottom: 2px solid rgb(1, 127, 157);
	border-right: 2px solid rgb(1, 127, 157);
	width: 600px;
	margin-top: 10px;
	font-size: 2.5em;
	background-color: white;
	box-shadow: 5px 5px 6px #888888;
	-moz-box-shadow: 5px 5px 6px #888888;
	-ms-box-shadow: 5px 5px 6px #888888;
	-webkit-box-shadow: 5px 5px 6px #888888;
	-o-box-shadow: 5px 5px 6px #888888;
}

h3 {
	font-size: large;
	color: rgb(255, 55, 34);
	border-bottom: 2px solid rgb(0, 226, 202);
	border-right: 2px solid rgb(0, 226, 202);
	width:550px;
	box-shadow: 3px 3px 4px #888888;
	
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	transition: all 1s;
	margin: 10px;
}

img:hover {
	transform: scale(1.5);
}

a {
	margin: 5px 5px;
	font-style: oblique;
	font-size: large;
}

ul {

	font-style: oblique;
	color: darkblue;
	cursor: pointer;
	text-decoration: underline;
}

li {

	color: blue;
	font-style: normal;
	font-size: small;
	text-decoration: none;
}

address {
	display: inline-flex;

}

/*hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;*/
} 